
html,body {
    width:100%;
    height:100%;


}
body{
    margin:0;
}

#pickupPanel {
    width:15%;
    height:98%;
    float:left;
    margin-top:6px;
    padding-top:2%;
    padding-left:1%;
    box-sizing:border-box;

}

#container {
    height:98%;
    width:65%;
    float:right;
    border-top:6px double #8d9a9c;
    border-bottom:6px double #8d9a9c;
    border-right:6px double #8d9a9c;
    border-left:6px double #8d9a9c;
}

.embededSVG {
    float:left;
    clear:both;
    margin:4%;
    max-height:20%;

}

#drawingPanel{
    width:100%;
    height:100%;
}

#labelsPickup {
    float:right;
    height: 98%;
    width: 10%;
    margin-right:2%;
    border-top:6px double #8d9a9c;
    border-bottom:6px double #8d9a9c;
    border-right:6px double #8d9a9c;
    border-left:6px double #8d9a9c;
}

#customLabelEdit {
    margin-top:10%;
    width:98%;
    height:30%;
    text-align: center;
}

#customLabelText {
    height:6%;
    width:50%;
}

#addCustomLabel {
    height:10%;
    width:auto;
    margin-top:3%;
    text-align: center;
}

.ne-resize-grip {
    cursor:ne-resize
}
.nw-resize-grip {
    cursor:nw-resize
}
.se-resize-grip {
    cursor:se-resize
}
.sw-resize-grip {
    cursor:sw-resize
}

.rotate-cursor {
    cursor:col-resize
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#obscure {
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

#loginPanel {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-top:1vh double #8d9a9c;
    border-bottom:1vh double #8d9a9c;
    border-right:1vh double #8d9a9c;
    border-left:1vh double #8d9a9c;
    width: 50vw;
    height: 30vh;
    position:absolute;
    z-index:11;
    left:25vw;
    top:25vh;
    display: flex;
    justify-content: center;
}

.loginPanelButton {
    margin-top:10%;
    margin-left:1%;
    height:15%;
    background-color: rgb(16, 106, 148);
    color:white;
    padding:1%;
    font-size:110%;
    border:none;
    border-radius:5%;
    cursor: pointer;
}

.loginPanelButton:hover {
    background-color: rgb(219, 219, 219);
    color:black;

}

.loginPanelButton:focus {
    border:none;
}